body {
  background-color: #E8ECEF;
}

.centered {
  padding-top: 200px;
  text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}

.lead {
  color: rgb(41, 40, 40);
}

.splitter {
  width: 80%;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
}

h1 {
  font-size: 4rem;
}